/*
body {
    background: radial-gradient(at 150% 20%, rgb(21, 41, 40) 40%, rgb(8, 21, 22) 75%) no-repeat fixed, linear-gradient(0deg, rgb(8, 21, 22), rgb(21, 41, 40) 20%, rgb(21, 41, 40) 60%, rgb(8, 21, 22)), linear-gradient(0deg, rgb(8, 21, 22), rgb(21, 41, 40) 0%, rgb(21, 41, 40) 70%, rgb(8, 21, 22)), linear-gradient(0deg, rgb(8, 21, 22), rgb(21, 41, 40) 0%, rgb(21, 41, 40) 70%, rgb(8, 21, 22));
    background-repeat: no-repeat;
}
*/
.card-deck > .col {
    margin-bottom: 25px;
}
:root .lpx-brand-logo {
    --lpx-logo: url('/images/logo/leptonx/logo-light.png');
    --lpx-logo-icon: url('/images/logo/leptonx/logo-light-thumbnail.png');
}