@page "/"
<Row>
    <Column ColumnSize="ColumnSize.Is8">
        <Div Class="main-tab container">
            MAIN

        </Div>
    </Column>
    <Column ColumnSize="ColumnSize.Is4">

        <Div Class="programme-tab container">
            <Row>
                <Column ColumnSize="ColumnSize.IsFull">

                    <ProgrammeHeader></ProgrammeHeader>
                </Column>

            </Row>
            <Row>
                <Column ColumnSize="ColumnSize.IsFull">
                    <ProgrammeContent></ProgrammeContent>

                </Column>

            </Row>
        </Div>
    </Column>

</Row>
@code {

}
