<Column ColumnSize="ColumnSize.Is2">
    <div class="course-card-container-numbers">
        <div dir="auto" class="reunion">R@(Reunion)</div>
        <div dir="auto" class="course">C@(Course)</div>
    </div>
</Column>

@code {

    [Parameter]public int Reunion{ get; set; }
    [Parameter]public int Course{ get; set; }
}
