
.course-card-container-numbers {
    background-color: rgb(21, 41, 40);
    width: 52px;
    height: 52px;

    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 17px;
    -webkit-box-align: stretch;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    align-items: stretch;
    border: 0px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-height: 0px;
    min-width: 0px;
    padding: 0px;
    position: relative;
    z-index: 0;
}
 

.reunion,  .course {
    color: rgb(255, 255, 255);
    line-height: 24px;
    font-size: 20px;
    font-family: Roboto;
    text-align: center;
    border: 0px solid black;
    box-sizing: border-box;
    display: inline;
    margin: 0px;
    padding: 0px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}
