<Div Class="programme-header">
    <Div Class="sticky-inner">
        <Div Class="sitcky-inner-bar">
            <ProgrammeTitle></ProgrammeTitle>
            <ProgrammeCourseReunion></ProgrammeCourseReunion>
        </Div>
    </Div>
</Div>

@code {

}
