
<Column ColumnSize="ColumnSize.IsHalf">
    <Div Class=" ">
        <Button Class="btn-outline-success w-100 fw-bold fs-6">Courses</Button>
    </Div>
</Column>
<Column ColumnSize="ColumnSize.IsHalf">
    <Div Class=" ">
        <Button Class="btn-outline-success w-100 fw-bold fs-6">Reunions</Button>
    </Div>
</Column>


@code {

}
