<div class="programme-course-reunion">
    <div class="course-reunion">
        <div tabindex="0" class="programme-course" data-testid="0">
            <h2 aria-level="2" dir="auto" role="heading" class="course-title">Courses</h2>
        </div>
        <div tabindex="0" class="programme-course" data-testid="1">
            <h2 aria-level="2" dir="auto" role="heading" class="programme-reunion" data-testid="SELECTED_1">Réunions</h2>
        </div>
    </div>
   
</div>

@code {

}
