<Column ColumnSize="ColumnSize.Is1">
    <Div Class="programme-calendar-button" Style="transition-duration: 0s;">
        <svg width="16" height="18" viewBox="0 0 16 18" fill="none" data-testid="PictoCalendar"><path d="M4.111 1.111v3.111M11.889 1.111v3.111" stroke="#152928" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"></path><path d="M.222 7.778h15.556" stroke="#152928" stroke-width="1.5" stroke-miterlimit="10"></path><rect x="0.972" y="2.972" width="14.056" height="14.056" rx="2.25" stroke="#152928" stroke-width="1.5" spellcheck="false"></rect></svg>
    </Div>
</Column>
<Column ColumnSize="ColumnSize.Is9">
    <Div dir="auto" class="programme-date ml-4">Mer. 1er Févr.</Div>
</Column>
<Column ColumnSize="ColumnSize.Is1" Class="pt-2">
    <Div Class="programme-date-selectors-left" Style="transition-duration: 0s;">
        <svg width="7" height="10" fill="none"><path d="M5.667.833L1.5 5l4.167 4.167" stroke="#152928" stroke-width="3"></path></svg>
    </Div>
</Column>
<Column ColumnSize="ColumnSize.Is1" Class="pt-2">
    <Div Class="programme-date-selectors-right" Style="transition-duration: 0s;">
        <svg width="7" height="10" fill="none" data-testid="PictoArrowRight"><path d="M1.333 9.167L5.5 5 1.333.833" stroke="#163633" stroke-width="3"></path></svg>
    </Div>
</Column>



@code {

}
