
<Column ColumnSize="ColumnSize.IsHalf">
    <Div Class="course-reunion">
        <span aria-level="2" dir="auto" role="heading" class="course-title">Courses</span>
    </Div>
</Column>
<Column ColumnSize="ColumnSize.IsHalf">
    <Div Class="course-reunion">
        <span aria-level="2" dir="auto" role="heading" class="programme-reunion">Réunions</span>
    </Div>
</Column>


@code {

}
