<Column ColumnSize="ColumnSize.Is1">
    <Button Class="btn-outline-success">
        <i class="fa fa-calendar" aria-hidden="true"></i>
    </Button>
</Column>
<Column Class="col-sm-8 col-md-4">
    <Div dir="auto" class="programme-date ml-4 text-start">Mer. 1er Févr.</Div>
</Column>
<Column Class="mx-auto"/>
<Column ColumnSize="ColumnSize.Is1" Class="pt-2">
    <Button Class="btn-outline-success">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </Button>
    
</Column>
<Column ColumnSize="ColumnSize.Is1" Class="pt-2">
    <Button Class="btn-outline-success">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </Button>
</Column>



@code {

}
